html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.section-heading {
  font-weight: 600;
  color: #0a0909;
  line-height: 1.05;
  text-transform: uppercase;
}

.section-content {
  line-height: 1.5;
  color: #96897a;
  margin-bottom: 5rem;
}

.content-heading {
  color: #d12531;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}

.content {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}

.gap {
  margin-top: 7rem;
}

.gap-bottom {
  margin-bottom: 7rem;
}

.form-gap {
  margin-top: 7rem;
}

.img-hover:hover {
  transform: scale(1.025);
}

i:hover {
  transform: scale(1.025);
}

a {
  color: rgba(251, 131, 61, 255);
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.a-underline a {
  color: rgba(251, 131, 61, 255);
  text-decoration: underline;
}

.a-underline a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

.card-hover:hover {
  transform: scale(1.025);
}

ul {
  list-style-type: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.vertical-center {
  margin: auto 0;
}

.form-control:focus {
  border-color: #fceeef;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
}

.btn-primary.focus,
.btn-primary:focus {
  border-color: rgba(251, 131, 61, 255);
  background-color: rgba(251, 131, 61, 255);
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  border-color: rgba(251, 131, 61, 255);
  background-color: rgba(251, 131, 61, 255);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4);
}

/*============
  navbar style
  ============*/

.navbar-light .navbar-nav .nav-link {
  color: rgba(251, 131, 61, 255);
}

.dropdown-menu .dropdown-item {
  color: rgba(251, 131, 61, 255);
}

.bg-light {
  background-color: #fceeef !important;
}

.dropdown-item:active,
.dropdown-item:hover {
  color: rgba(251, 131, 61, 255);
  text-decoration: none;
  background-color: #fceeef;
}

input[type="radio"]:checked {
  border: 6px solid black;
}

.navbar.scrolled {
  background-color: #fceeef;
}

/*==================
  intro-slide style
  ==================*/

#intro-slide {
  background: linear-gradient(
      rgba(252, 238, 239, 0.9),
      rgba(252, 238, 239, 0.9)
    ),
    url("../imgs/slide.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  color: rgba(251, 131, 61, 255);
  padding: 8rem 0 13rem 0;
}

.slide-heading {
  padding-bottom: 1rem;
}

.slide-description {
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
  color: rgba(251, 131, 61, 255);
  margin-bottom: 2.5rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

.slide-btn {
  border-color: rgba(251, 131, 61, 255);
  background-color: rgba(251, 131, 61, 255);
  color: white;
  width: 8rem;
  font-size: 0.9rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.slide-btn:hover {
  background-color: #fceeef;
  color: rgba(251, 131, 61, 255);
  border-color: rgba(251, 131, 61, 255);
}
/*==============
  responsiveness
  ==============*/

@media (max-width: 1200px) {
  .home .carousel-caption {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
  .slider-btn {
    width: 9rem;
    font-size: 1rem;
  }
  .card-img-current {
    height: 30vw;
  }
  .card-img-complete {
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .home .carousel-caption {
    padding-bottom: 4rem;
  }
  .slide-description {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .slider-btn {
    width: 8rem;
    font-size: 0.8rem;
  }
  #slider .carousel-item {
    height: 500px;
  }
  #slider .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
  }
  .card-img-current {
    height: 40vw;
  }
  .card-img-complete {
    height: 20vw;
  }
  .footer-logo {
    width: 77.5%;
  }
  .fs1 {
    font-size: 2.75rem;
  }
  .count {
    font-size: 2.75rem;
  }
  .about-heading {
    margin-top: 1rem;
  }
  .about-description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  #intro-slide {
    padding: 10rem 0 7.5rem 0;
  }
  .slide-heading,
  .about-heading {
    font-size: 3.5rem;
  }
  .slide-description,
  .about-description {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
  .card-img-current {
    height: 45vw;
  }
  .card-img-complete {
    height: 25vw;
  }
  #services {
    transform: none;
    padding: 2rem;
  }
  .gap {
    margin-top: 5rem;
  }
  .gap-bottom {
    margin-bottom: 5rem;
  }
  .section-heading {
    font-size: 2.95rem;
  }
  .footer-logo {
    width: 80%;
  }
  .fs1 {
    font-size: 2.25rem;
  }
  .count {
    font-size: 2.25rem;
  }
}

@media (max-width: 576px) {
  .card-img-current {
    height: 50vw;
  }
  .card-img-complete {
    height: 50vw;
  }
  .gap {
    margin-top: 5rem;
  }
  .gap-bottom {
    margin-bottom: 4rem;
  }
  .section-heading {
    font-size: 2.35rem;
  }
  .footer-logo {
    display: none;
  }
  .count-left-margin {
    margin-left: 3rem;
  }
  .fs1 {
    font-size: 2.75rem;
  }
  .count {
    font-size: 2.5rem;
  }
  .slide-btn {
    width: 7.25rem;
    font-size: 0.8rem;
  }
  html {
    font-size: 14px;
  }
}

/*================
  form style
  ================*/

.login-form {
  margin: 0 auto;
}

#login-form div.card {
  background-color: white;
  color: #161616;
}

.text-muted {
  color: #d12531 !important;
}
/* Custom radio buttons */
.form-group input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
}

.form-group label {
  display: inline-block;
  margin-right: 20px;
}
.video-container {
  position: relative;
  padding: 0;
}

.auth-sidebar-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.login-form {
  padding: 0;
}

@media (min-width: 768px) {
  .video-container {
    height: 100vh;
  }
}
.auth-sidebar-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}
#loginMessage {
  color: red;
}
